{% extends "base.html" %}

{% block content %}
  <article class="entry">

    <header class="entry-header">

      <h2 class="entry-title">
        {{ article.title }}
      </h2>          

      <div class="entry-meta">
        <ul>
          <li>{{ article.publication_date|date:"j N Y" }}</li>
          <span class="meta-sep">&bull;</span>              
          <li>
            <a href="{{ article.category.get_absolute_url }}" rel="category tag">{{ article.category }}</a>
          </li>
          <span class="meta-sep">&bull;</span>
          <li>{{ article.author }}</li>
        </ul>
      </div> 
   
    </header> 

    <div class="entry-content-media">
      <div class="post-thumb">
        <img src="{{ article.image.cover.url }}">
      </div> 
    </div>

    <div class="entry-content">
      {{ article.content|safe }}
    </div>

    {% with tags=article.tags.all %}
      {% if tags %}
        <p class="tags">
          <span>Tagged in </span>:
          {% for tag in tags %}
            <a href="{% url 'article:by_tag' slug=tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    {% endwith %}

    <ul class="post-nav group">
      {% for article in argicle.similar.all %} 
        {% comment %} put something there {% endcomment %}
      {% endfor %}
    </ul>

  </article>
  
  <div class="fb-comments" data-href="http://localhost:8000/" data-width="666" data-numposts="5"></div>
{% endblock content %}
