{% extends "base.html" %}

{% block content %}
  {% for article in object_list %}
    <article class="entry">

      <header class="entry-header">

        <h2 class="entry-title">
          <a href="{% url "article:details" slug=article.slug %}" title="">{{ article.title }}</a>
        </h2>          
      
        <div class="entry-meta">
          <ul>
            <li>{{ article.publication_date|date:"j N Y" }}</li>
            <span class="meta-sep">&bull;</span>                
            <li><a href="#" title="" rel="category tag">{{ article.category }}</a></li>
            <span class="meta-sep">&bull;</span>
            <li>{{ article.author }}</li>
          </ul>
        </div> 
       
      </header> 
      
      <div class="entry-content-media">
        <div class="post-thumb">
          <img src="{{ article.image.cover.url }}">
        </div> 
      </div>

      <div class="entry-content">
        <p>{{ article.description }}</p>
      </div> 

      <div class="entry-meta">
        <ul>       
          <li>Tags: <a href="#" title="" rel="category tag">{{ article.tags.all|join:", " }}</a></li>
        </ul>
      </div> 

    </article>
  {% empty %}
    <h1>No articles found.</h1>
  {% endfor %}

  <div class="pagination add-bottom">
    <span class="step-links">

      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="page-numbers prev">Prev</a>
      {% else %}
        <span class="page-numbers prev inactive">Prev</span>
      {% endif %}

      {% for page in page_obj.paginator.page_range %}
        <a href="?page={{ page_obj.number }}" class="page-numbers {%if page_obj.number == page%}current{%endif%}">
          {{ page_obj.number }}
        </a>
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-numbers next">Next</a>
      {% else %}
        <span class="page-numbers next inactive">Next</a>
      {% endif %}

    </span>
  </div>

{% endblock %}
