{% extends "base.html" %}


{% block content %}
  <div class="six columns left">
    <h4>Categories</h4>
    {% if categories %}
      <ul>
        {% for category in categories %}
          <li><a href="{% url 'article:by_category' slug=category.slug %}">
            {{ category.name }} ({{ category.article_count }})
          </a></li>   
        {% endfor %}
      </ul>
    {% else %}
      <h5>No categories found.</h5>
    {% endif %}
  </div>

  <div class="six columns right">
    <h4>Tags</h4>
    {% if tags %}
      <ul>
        {% for tag in tags %}
          <li><a href="{% url 'article:by_tag' slug=tag.slug %}">
            {{ tag.name }} ({{ tag.article_count }})
          </a></li>
        {% endfor %}
      </ul>
    {% else %}
      <h5>No tags found.</h5>
    {% endif %}
  </div>
{% endblock %}
